body {
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: fixed;
    background-position: 50% 0;
    background-image: url('/images/background.jpg');
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 6% auto 30px;
    color: inherit;
    border-radius: .3rem;
    /*background: rgba(242, 242, 242, 0.5);*/
}

@media (min-width: 554px) {
    padding: 4rem 2rem;
}

#searchbar {
    display: inline-block;
    vertical-align: middle;
    width: 99%;
}

/* SearchBar Mobile Fix*/
@media only screen and (max-device-width: 480px) {
    #searchbar {
        width: 85%;
        padding: 11px 23px 1px 11px;
    }

    input#searchbar:active, input#searchbar:focus, input#searchbar:focus::-webkit-input-placeholder {
        outline: none;
        color: var(--mdb-body-color) !important;
        transition: all .25s ease;
        margin: -10% auto 0;
    }
}

input#searchbar {
    color: var(--mdb-body-color) !important;
    font-size: 18px;
    border-radius: 2px;
}

input#searchbar::-webkit-input-placeholder {
    color: lightgray;
    transition: all .25s ease;
    font-size: 18px;
}

input#searchbar:active, input#searchbar:focus, input#searchbar:focus::-webkit-input-placeholder {
    outline: none;
    color: var(--mdb-body-color) !important;
    transition: all .25s ease;
}

[data-mdb-theme=dark] .easy-autocomplete-container ul {
    background: none repeat scroll 0 0 var(--mdb-body-bg) !important;
}

[data-mdb-theme=dark] .easy-autocomplete-container ul li.selected {
    background: none repeat scroll 0 0 #383838 !important;
}

/*.easy-autocomplete-container {
    background: none repeat scroll 0 0 var(--mdb-body-bg);
}*/

/* Easy Autocomplete dark-theme text-colo fix */
/*.easy-autocomplete-container ul {
    color: var(--mdb-emphasis-color);
}*/

.material-icons {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    top: -1px;
}

.footer-text-shadow {
    text-shadow: 1px 1px black;
}


/* Fix weird table color when using dark theme */
[data-mdb-theme=dark] .table {
    --mdb-table-bg: var(--mdb-surface-bg) !important;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* Some tweaks to the pagination */
.pagination {
    margin-bottom: 0 !important;
}
