body {
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: fixed;
    background-position: 50% 0;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 6% auto 30px;
    color: inherit;
    border-radius: .3rem;
}

@media (min-width: 554px) {
    padding: 4rem 2rem;
}

.footer-text-shadow {
    text-shadow: 1px 1px black;
}

/* Fix weird table color when using dark theme */
[data-mdb-theme=dark] .table {
    --mdb-table-bg: var(--mdb-surface-bg) !important;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Some tweaks to the pagination */
.pagination {
    margin-bottom: 0 !important;
}
