body {
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: fixed;
    background-position: 50% 0;
    background-image: url('/images/background.jpg');
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 6% auto 30px;
    color: inherit;
    border-radius: .3rem;
    /*background: rgba(242, 242, 242, 0.5);*/
}

@media (min-width: 554px) {
    padding: 4rem 2rem;
}

#searchbar {
    display: inline-block;
    vertical-align: middle;
    width: 99%;
    font-weight: 100 !important;
}

/* SearchBar Mobile Fix*/
@media only screen and (max-device-width: 480px) {
    #searchbar {
        width: 85%;
        font-weight: 100 !important;
        padding: 11px 23px 1px 11px;
    }

    input#searchbar:active, input#searchbar:focus, input#searchbar:focus::-webkit-input-placeholder {
        outline: none;
        color: var(--mdb-body-color) !important;
        transition: all .25s ease;
        margin: -10% auto 0;
    }
}

input#searchbar {
    color: var(--mdb-body-color) !important;
    font-size: 18px;
    border-radius: 2px;
}

input#searchbar::-webkit-input-placeholder {
    color: lightgray;
    transition: all .25s ease;
    font-size: 18px;
}

input#searchbar:active, input#searchbar:focus, input#searchbar:focus::-webkit-input-placeholder {
    outline: none;
    color: var(--mdb-body-color) !important;
    transition: all .25s ease;
}

.material-icons {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    top: -1px;
}
